@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card {
    background: #191c29;
    width: 300px;
    /* width: var(--card-width);
    height: var(--card-height); */
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    /* font-family: cursive; */
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  .outer-box {
    /* To make full screen outerbox width and height = 100 vw,vh */
    width: 100vw;
    height: 100vh;
    background-color: #141313;
  }
  .profile-picture{
      position: relative;
      top: 20px;
  
  }
  .inner-box {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    /* position: relative;
    top: 40%; */
    /* transform: translateY(-50%); */
    padding: 20px 40px;
    background-color: #ffffff09;
    backdrop-filter: blur(8px); /*to achive glass morphism effect */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(43, 43, 43);
  }
  .signup-header h1 {
    font-size: 1.7rem;
    font-weight:bolder;
    color: #ffffff;
    text-align: center;
    font-family: poppins;
  }
  .signup-header p {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
  }
  
  .signup-body {
    margin: 15px 0;
  }
  
  .signup-body p {
    margin: 10px 0;
  }
  
  .signup-body p label {
    display: block;
    font-weight: bold;
  }
  
  .signup-body p input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 0.7rem;
    margin-top: 4px;
    background-color: #4a4949;
    color: white;
  }
  #submit {
    background-color: #3498db;
    font-size: 0.8rem;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  #submit:hover {
    background-color: #35749d;
  }
  .signup-footer p {
    text-align: center;
    color: #888888;
    text-align: center;
    font-size: 0.6rem;
  }
  #log {
    color: #2b00ff;
  }
  

